*********************************************************
Akamai Connected Cloud ELK Cluster Marketplace App
Kibana URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/elk/
*********************************************************
To delete this message of the day: rm /etc/motd