[ssh_connection]
retries = 5

[defaults]
host_key_checking = False
VAULT_PASSWORD_FILE = .vault-pass
enable_plugins = linode
inventory_path = /etc/ansible/hosts
deprecation_warnings = False
roles_path=./roles:../linode_helpers/roles