*********************************************************
Akamai Connected Cloud Couchbase Enterprise Server Cluster Marketplace App
App URL: https://{{ _domain }}
Credentials File: /home/{{ sudo_username }}/.credentials
Documentation: https://www.linode.comdocs//products/tools/marketplace/guides/couchbase-cluster/
*********************************************************
To delete this message of the day: rm /etc/motd