[defaults]
host_key_checking = False
# VAULT_PASSWORD_FILE = .vault-pass
enable_plugins = linode
inventory_path = /etc/ansible/hosts
interpreter_python = python3

[ssh_connection]
ssh_args = -o ConnectTimeout=30 -o ServerAliveInterval=30 -o ServerAliveCountMax=10
retries = 3
