wheel==0.46.3
linode_api4==5.42.0
setuptools==82.0.1
ansible==13.5.0
ansible-specdoc==0.0.20
passlib==1.7.4
polling==0.3.2
yamllint==1.38.0
flake8==7.3.0
ansible-lint==26.4.0
pyyaml==6.0.3
molecule==26.4.0
molecule-vagrant==2.0.0
python-vagrant==1.0.0
dnspython==2.8.0
bcrypt==5.0.0
