[ssh_connection]
retries = 5

[defaults]
host_key_checking = False
enable_plugins = linode
VAULT_PASSWORD_FILE = .vault-pass
deprecation_warnings = False
inventory_path = /etc/anisble/hosts
roles_path=./roles:../linode_helpers/roles